img{
    width: 100%;
}

body{
    background-color: #1c212d;
}


nav{
    text-align: right;
}

nav .content a{
    text-decoration: none;
    font-family: Avenir;
    color: white;
    padding: 4px;
    display: inline-flex;
}

nav a:hover{
    background-color: #fe9028;
    color: white;
    border: 1px;
    padding: 2px;
}

h1{
    font-family: sans-serif;
    color: #fe9028;
    font-size: 4em;
}

h2{
    font-family: sans-serif;
    color: white;
}

p{
    font-family: sans-serif;
    color: gainsboro;
}

h3{
    font-family: sans-serif;
    color: gainsboro;
}

h4{
    font-family: sans-serif;
    color: #fe9028;
}

p1{
    font-family: sans-serif;
    color: deeppink;
}

a{
    font-family: sans-serif;
    color: #fe9028;
}

a :hover{
    color: white;
}

#navne{
    margin: 2em;;
    padding: 2em;
    background-color: #7fc8e1;
}

#animation{
    margin: 2em;
    padding: 2em;

}


