img{
    width: 100%;
}

#interaktive_knapper img{
    width: 30%;
}

#tekstbokse img{
    width: 100%;
}

body{
    background-color: #1c212d;
}


nav{
    text-align: right;
}

nav .content a{
    text-decoration: none;
    font-family: Avenir;
    color: white;
    padding: 4px;
    display: inline-flex;
}

nav a:hover{
    background-color: #fe9028;
    color: white;
    border: 1px;
    padding: 2px;
}

h1{
    font-family: sans-serif;
    color: #fe9028;
    font-size: 4em;
}

h2{
    font-family: sans-serif;
    color: white;
}

p{
    font-family: sans-serif;
    color: gainsboro;
}

h3{
    font-family: sans-serif;
    color: gainsboro;
}

h4{
    font-family: sans-serif;
    color: #fe9028;
}

p1{
    font-family: sans-serif;
    color: deeppink;
}

a{
    font-family: sans-serif;
    color: #fe9028;
}

a :hover{
    color: white;
}

#navne{
    margin: 2em;;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}

#animation{
    margin: 2em;
    padding: 2em;
}

#idé{
    margin: 2em;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}

#historie{
    margin: 2em;
    padding: 2em;
    border: 2px white;
}

#persona{
    margin: 2em;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}

#moodboard{
    margin: 2em;
    padding: 2em;
}

#styletile{
    margin: 2em;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}

#skitser{
    margin: 2em;
    padding: 2em;
}

#sekvensdiagram{
    margin: 2em;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}

#tests .sectionawrapper{
    display: flex;
    flex-wrap: wrap;

}

#tests .column{
    flex-basis: 400px;
    flex-grow: 1;
}

#rests .column_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 1em;
    border: 1px;
    padding: 0;
}

.test_1{
    margin: 0.5em;
    padding: 0.5em;
}

.test_2{
    margin: 0.5em;
    padding: 0.5em;
}

#asset{
    margin: 2em;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}

#vores_stand{
    margin: 2em;
    padding: 2em;
}

#trello{
    margin: 2em;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}

#SoMe{
    margin: 2em;
    padding: 2em;
}

#burn-down{
    margin: 2em;
    padding: 2em;
    background-color: #7fc8e1;
    border-radius: 3em;
}




